<!-- This navbar is collapsed into a toggle button in screens of medium size or smaller -->
<nav class="navbar navbar-expand-md bg-primary-subtle">
    <div class="container">

        <!-- APP name and route to greeting page -->
        <a class="navbar-brand" href="/greetings">Flashcard app</a>

        <!-- Toggle button which is showed in screens of medium size or smaller -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Items of the navbar, which are collapsable -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="folders">Folders</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>