<!-- This is a card element showed in the greeting route -->
<div class="card text-center m-3 bg-primary-subtle">
    <div class="card-body">
        <h3>Hey, welcome to the flashcard app :)</h3>
        <hr>
        <h5>At the moment, you can:</h5>
        <ul class="centered-list">
            <li>Manage flashcards and folders</li>
            <li>Review vocabulary and example sentences</li>
            <li>Practice gender of nouns</li>
        </ul>
        <h6>Click on "Folders" to get started :)</h6>
    </div>
</div>